/* Garantir que html e body ocupem 100% da altura */
html, body {
    height: 100%;
    margin: 0; 
    overflow-x: hidden; /* Previne o scroll horizontal */
}

/* Garantir que o conteúdo dentro do body ocupe toda a altura disponível */
body {
    display: flex;
    flex-direction: column;
}

/* Main ocupar o restante do espaço */
main {
    flex: 1; /* Faz o main ocupar o restante do espaço */
    display: flex;
    justify-content: center; /* Opcional, caso queira centralizar o conteúdo */
    align-items: center; /* Opcional, caso queira centralizar o conteúdo */
}

/* Estilos para a section */
section {
    margin-top: 5%;
    margin-left: 10%; /* Ajustado para 10% para evitar excessos */
    margin-right: 10%; /* Ajustado para 10% para evitar excessos */
}

/* Estilo personalizado para borda arredondada */
.custom-border {
    border-radius: 20px;
}

/* Garantir que as colunas se ajustem corretamente */
@media (max-width: 768px) {
    section {
        margin-left: 5%; /* Menor margem em telas menores */
        margin-right: 5%; /* Menor margem em telas menores */
    }
}
